.itemTd:not(.ships-overseas) {
    opacity: 0.25 !important;
}

.itemTd:not(.ships-overseas):hover {
    opacity: 1 !important;
}

.itemTd:not(.checked),
.itemTd:not(.checked) * {
    cursor: progress;
}